{% extends "base.html" %}

{% block title_section %}Especialidades{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <br />
      <div class="page-header">
        <h1>Especialidades</h1>
      </div>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <a class="btn btn-primary" role="button" href="{% url 'cadastro_especialidade' %}">Adicionar</a>
    </div>
  </div>
</div>

<br />
<br />

 <div class="row">
        <div class="col-md-12">

            <h1>Excluir especialidade</h1>
            <hr>

            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                Cuidado! Esta ação eliminará este registro do sistema.
            </div>

            <form method="post">
                {% csrf_token %}
                <p>Tem certeza que você quer excluir a especialidade <strong>{{ especialidade.titulo }}</strong> ?</p>

                    <button type="submit" class="btn btn-warning">Excluir</button>

            </form>

            <hr>

            <a href="{% url 'lista_especialidades' %}" class="btn btn-primary btn-sm" role="button">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" title="Voltar"></span>
            </a>
            <!--<a href="{% url 'rivers:edit' river.id %}" class="btn btn-primary btn-sm" role="button">-->
                <!--<span class="glyphicon glyphicon-edit" aria-hidden="true" title="Editar"></span>-->
            <!--</a>-->

        </div><!-- col-md-12 -->

    </div><!-- row -->

{% endblock %}