{% extends 'base.html' %}

{% block title_section %}Home{% endblock %}


{% block content %}
<div class="jumbotron page-header">
    <h1>Universidade X</h1>
    <br />
    <div class="btn-group-lg">
        <a class="btn btn-block btn-default" href="{% url 'listar_estudantes' %}">Estudantes</a>
        <hr>
        <a class="btn btn-block btn-default" href="{% url 'listar_artigos' %}">Artigos</a>
        <hr>
        <a class="btn btn-block btn-default" href="{% url 'listar_livros' %}">Livros</a>
        <hr>
        <a class="btn btn-block btn-default" href="{% url 'listar_curriculos' %}">Currículos</a>
        <hr>
        <a class="btn btn-block btn-default" href="{% url 'listar_instituicoes' %}">Instituições</a>
        <hr>
        <a class="btn btn-block btn-default" href="{% url 'listar_projetos_pesquisa' %}">Projetos de Pesquisa</a>
        <hr>
        <a class="btn btn-block btn-default" href="{% url 'listar_departamentos' %}">Departamentos</a>
        <hr>
    </div>
</div>

{% endblock %}